<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "sample app", "#", id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to t("home"), static_pages_home_path, class: "text-white" %> </li>
				<li><%= link_to t("help"), static_pages_help_path, class: "text-white" %> </li>
				<li><%= link_to t("login"), '#', class: "text-white" %> </li>
			</ul>
		</nav>
	</div>
</header>
